<div class="container-fluid" style="padding: 5%;">

    <div class="row"><i class='fas fa-file-image' style='margin-left: 10%;margin-right: 10px;font-size:25px;color:rgb(79, 39, 221)'></i>
        <h2>Diagram Set</h2>
    </div>
    <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let q of diagramPaper.diagrams" style="margin:2px;border: 1px solid rgb(184, 184, 184);">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    <input type="checkbox" name="questionSet" value="q" style="margin: 3px;" (change)="select(q, $event)"> {{ (diagramPaper.diagrams.indexOf(q) + 1 + '>' ) + q.question }}
                </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-list role="list" class="row">
                <mat-list-item *ngIf="q.diagram" style="height: 250px;" role="listitem">
                    Diagram:
                    <img class="diagram" src="https://expertprofessionals.org:8080/{{q.diagram}}">
                </mat-list-item>
                <mat-list-item *ngIf="q.option1" role="listitem">(i) {{[q.option1]}}</mat-list-item>
                <mat-list-item *ngIf="q.imgOpt1" class="diagram" role="listitem">
                    (i)<img class="diagram" src="https://expertprofessionals.org:8080/{{q.imgOpt1}}">
                </mat-list-item>
                <mat-list-item *ngIf="q.option2" role="listitem">(ii) {{[q.option2]}}</mat-list-item>
                <mat-list-item *ngIf="q.imgOpt2" class="diagram" role="listitem">
                    (ii)<img class="diagram" src="https://expertprofessionals.org:8080/{{q.imgOpt2}}">
                </mat-list-item>
                <mat-list-item *ngIf="q.option3" role="listitem">(iii) {{[q.option3]}}</mat-list-item>
                <mat-list-item *ngIf="q.imgOpt3" class="diagram" role="listitem">
                    (iii)<img class="diagram" src="https://expertprofessionals.org:8080/{{q.imgOpt3}}">
                </mat-list-item>
                <mat-list-item *ngIf="q.option4" role="listitem">(iv) {{[q.option4]}}</mat-list-item>
                <mat-list-item *ngIf="q.imgOpt4" class="diagram" role="listitem">
                    (iv)<img class="diagram" src="https://expertprofessionals.org:8080/{{q.imgOpt4}}">
                </mat-list-item>
                <mat-list-item *ngIf="q.imgOpt5" class="diagram" role="listitem">
                    Answer:<img class="diagram" src="https://expertprofessionals.org:8080/{{q.imgAnswer}}">
                </mat-list-item>
                <mat-list-item *ngIf="q.answer" role="listitem">Answer : {{[q.answer]}}</mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
    <button mat-raised-button color="primary" style="margin-top: 5px;" (click)=submit()>Finalize  Paper</button>
</div>