<div class="container-fluid" style="padding: 5%;width: 100%;">
    <h2 style="text-align: left;padding: 2%;padding-bottom: 0%;"><i class='fas fa-file-alt' style='margin-left: 15px;margin-right: 10px;font-size:25px;color:rgb(79, 39, 221)'></i>Select Question</h2>

    <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let questions of testPaper" style="box-shadow: 0px 3px 7px 5px rgb(209, 209, 209);border-bottom: 1px solid rgb(166, 169, 201);">

            <mat-expansion-panel-header>
                <mat-panel-title style="color: rgb(55, 69, 148);font-weight: bolder;">
                    <input type="checkbox" name="questionSet" value="questions" style="margin: 1%;" (change)="select(questions, $event)">{{ testPaper.indexOf(questions) + 1 }}. {{ questions.question }}
                </mat-panel-title>
                <mat-panel-description style="float: right;">
                    Marks: {{ questions.marks }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!--img class="diagram" src="https://expertprofessionals.org:8080/{{dataDisplay.diagram}}">-->
            <mat-list role="list">

                
            <!--<img class="diagram" src="https://expertprofessionals.org:8080/{{dataDisplay.diagram}}">-->
            

                <mat-list-item role="listitem">(i) {{[questions.option1]}}</mat-list-item>
                <mat-list-item role="listitem">(ii) {{[questions.option2]}}</mat-list-item>
                <mat-list-item role="listitem">(iii) {{[questions.option3]}}</mat-list-item>
                <mat-list-item role="listitem">(iv) {{[questions.option4]}}</mat-list-item>
                
                <mat-list-item role="listitem" style="color: rgb(165, 42, 42);">Answer: {{[questions.answer]}}</mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="example-button-row">
        <button mat-raised-button color="accent" style="margin:15px" (click)="submit()">Submit Selected Question</button>
    </div>
</div>